<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to THE SHOP</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .card {
            border: 1px solid #ccc;
        }
        .align-left {
            margin-left: auto;

        }

    </style>
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="container">
    <div th:if="${notification != null}" class="row mt-3">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible" role="alert">
                <span th:text="${notification.message}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <h1>Product List</h1>
    <div th:if="${principal != null}">
        <h2>
            <a th:href="@{/orderhistory(userId=${userId})} "> Order History</a>
        </h2>
    </div>
    <div class="row justify-content-center">
            <div class="col-md-4" th:each="product : ${listProducts}">
                <div class="card mb-4" style="width: 18rem;">
                    <img class="card-img-top" th:src="@{/images/{productImage}(productImage=${product.productImage})}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.productName}"></h5>
                        <p class="card-text">Price: $<span th:text="${product.productPrice}"></span></p>
                        <p class="card-text">Description: <span th:text="${product.productDesc}"></span></p>
                        <form th:action="@{'/addProductToCart/' + ${product.productId}}" method="post">
                            <div class="form-group mb-3">
                                <label for="productQuantity">Quantity</label>
                                <input type="number" class="form-control" min="1" id="productQuantity"
                                       name="orderItemQuantity" value="1">
                            </div>
                            <button type="submit" class="btn btn-primary">Add to cart</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">Total Products: [[${totalItems}]]</div>
            <div class="col-sm-2">
            <span th:each="i: ${#numbers.sequence(1,totalPages)}">
                <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;&nbsp;
            </span>
            </div>
            <div class="col-sm-2">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class="col-sm-2">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
        <div class="row col-sm-10">
            <div class="col-sm-12">&nbsp;</div>
        </div>
    </div>

</div>
</body>
</html>


