<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Product List</h1>
    <div class="row">
        <!-- Loop through the list of products -->
        <div class="col-md-4" th:each="product : ${listProducts}">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.productName}"></h5>
                    <p class="card-text">Price: $<span th:text="${product.productPrice}"></span></p>
                    <p class="card-text">Price: $<span th:text="${product.productDesc}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>